$primary-background: rgb(130, 189, 164) 100%;
$nav-background: #07421d;
$box-color: #1d7b52;
$view-background-color: #16573b;
$text-color: white;
$buton-backgorund-color: #71cbff;
$button-text-color: rgb(0, 0, 0);
$button-hover-background-color: #c4e4f7;
$button-hover-text-color: rgb(0, 0, 0);
;