$nav-background: #07421d;
$box-color: #1d7b52;
$view-background-color: #16573b;
$text-color: #FFF;
$error-text-color: #F00;
$button-background-color: #0183ce;
$button-text-color: rgb(0, 0, 0);
$button-hover-background-color: #41a4de;
$button-hover-text-color: #FFF;