$nav-background: #16573b;
$box-color: #1d7b52;
$view-background-color: #16573b;
$text-color: #FFF;
$error-text-color: #F00;
$button-background-color: #0069a5;
$button-text-color: rgb(255, 255, 255);
$button-hover-background-color: #41a4de;
$button-hover-text-color: #FFF;