/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  background: $primary-background;
  margin: 0px;
  font-family: "Comic Sans MS", "Comic Sans";
}

button,
input {
  font-family: "Comic Sans MS", "Comic Sans";
}

h1, h2 {
  font-size: 25px;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-size: 20px;
}


button {
  box-shadow: 3px 3px 0px #00000055;
  cursor: pointer;
}

button:hover {
  background-color: $button-hover-background-color;
  color: $button-hover-text-color;
  transition: .3s;
}

.nav-bar {
  background-color: $nav-background;
  padding: 10px;
  color: $text-color;
  box-shadow: 0px 10px 20px #00000055;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 40px;
  margin: 0px 10px;
}

.nav-button, 
.login-button {
  background-color: $buton-backgorund-color;
  padding: 10px;
  color: $button-text-color;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  margin: 0px 10px;
}

.home-view,
.customer-dashboard-view,
.new-booking-view, 
.successfully-booked-room-view {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 500px;
}

.login-box, 
.dashboard-box,
.currently-booked-room,
.available-rooms-to-book, 
.booked-room-overview, 
.booked-room-details {
  background-color: $view-background-color;
  color: $text-color;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px #00000055;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: 100px;
}

.book-listings, 
.bookings {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-filter {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: $box-color;
  box-shadow: 0px 10px 20px #00000055;
}

.filterChoice {
  padding: 0px 20px;
}

.currently-booked-room,
.available-rooms-to-book,
.booked-room-details {
  background-color: $box-color;
  padding: 20px;
  margin: 20px;
  min-height: 100px;
  min-width: auto;
}

.booked-room-details {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.bookingDetailsNavigation {
  margin: 25px;
}

.hidden {
  display:none;
}